<%= render 'layouts/user_info', book: @book %>
<h2>Books</h2>
<table>
  <thead>
    <th>Image</th>
    <th>Title</th>
    <th>Opinion</th>
  </thead>
  <% @books.each do |books| %>
  <tbody>
    <td>
      <%= link_to book_path(books.id) do %>
        <%= image_tag books.get_image %>
      <% end %>
    </td>
    <td><%= books.title %></td>
    <td><%= books.body %></td>
  </tbody>
  <% end %>
</table>