<%= render 'layouts/errors', obj: @book %>
<div class="container">
  <div class="row">
    <%= render 'layouts/user_info', obj: current_user %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <th>Image</th>
          <th>Title</th>
          <th>Opinion</th>
        </thead>
        <% @books.each do |books| %>
        <tbody>
          <td>
            <%= link_to user_path(books.user.id) do %>
              <%= image_tag books.get_image %>
            <% end %>
          </td>
          <td><%= link_to books.title, book_path(books.id) %></td>
          <td><%= books.body %></td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>